	  body
    {
    	margin:0;
    	padding:0;
    	font-size:13px;
    	font-family:Arial,Helvetica,sans-serif;
    	line-height:130%;
    }
    body,dl,dd,dt
    {
    	margin:0;
    	padding:0;
    }
    #nav
    {
    	position:relative;
    	overflow:visible;
    	margin:2px 0 -1px;
    	z-index:1;
    }
    #nav a
    {
    	color:#000ec4;
    }
    #nav a,#nav span
    {
    	display:inline-block;
    	margin:3px 0 0 0;
    	line-height:27px;
    	height:28px;
    	padding:0 6px;
    	position:relative;
    }
    #footer
    {
    	margin:15px 0 0px;
    	text-align:center;
    	font-size:13px;
    }
    #footer .relativeword
    {
    	vertical-align:middle;
    	margin:0;
    	margin-top:12px;    	
    	display:inline-block;
    	text-overflow:ellipsis;
    	white-space:nowrap;
    	overflow:hidden;
    	float:inline;
    }
    #footer .relativeword a
    {
    	text-decoration:none;
    	cursor:auto;
    }
    #footer .bighref
    {
    	font-size:13px;
    	line-height:25px;
    	display:inline-block;
    }
    #footer .bighref a
    {
    	display:inline-block;
    	padding-right:6px;
    }
    #footer .childdiv
    {
    	font-size:13px;
    	line-height:25px;
    }
    #footer .childdiv a
    {
    	display:inline-block;
    	padding-right:6px;
    }
    #list
    {
    	overflow-x:hidden;
    }
    #imgresults
    {
    	overflow:hidden;
    	position:relative;
    	list-style:none;
    	padding:0;
    	width:100%;
    }
    #imgresults
    {
    	margin:3px 0 5px 0;
    }
    #imgresults .loaded 
		{
			background-color:#FAFAFA;
			border-width:1px 1px 1px 1px;
			display: table-cell;
			text-align:center;
			vertical-align:middle;
			border-color:#BCBCBC;
			border-style:solid;
			position: relative; 
			display: block;
		}
		.loaded cite 
		{
			background: #333;
			-moz-opacity:.50;
			filter:alpha(opacity=50);
			opacity:.50;
			color: #fff;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100px;
			padding: 10px 0;
			border-top: 1px solid #999;
			font-size:10px;
			
		}
    #imgresults li
    {
    	position:absolute;
    	margin:0;
    	padding:0;
    	border:0;
    	height:100%;
    	width:100%;
    }
    #imgresults li#l1,#img li#l1
    {
    	background-color:blue;
    	z-index:1;
    }
    #imgresults li#l2,#img li#l2
    {
    	background-color:red;
    	z-index:2;
    }
    #imgresults li#l3,#img li#l3
    {
    	background-color:green;
    	z-index:1;
    }
    #imgresults li div
    {
    	float:left;
    	margin:1px 0 1px 2px;
    	width:100px;
    	height:75px;
    }
    #imgresults img
    {
    	vertical-align:middle;
    }
    #pageTurn
    {
    	background-color:#CCE3FF;
    	border:1px solid #6C9EFD;
    	height:52px;
    	text-align:center;
    }
    #pageTurn a
    {
    	text-decoration:none;
    	display:inline-block;
    	color:#3C63A6;
    }
    #prev,#post
    {
    	border-color:#F6FBFF;
    	border-style:solid;
    	border-width:1px 1px 1px 1px;
    	height:40px;
    	line-height:40px;
    	width:40px;
    	margin:5px 5px 0 5px;
    }
    #prev .nolink,#post .nolink
    {
    	color:#949494;
    	text-shadow:white 0 1px 1px;
    }
    #prev
    {
    	float:left;
    	border-width:1px 1px 1px 1px;
    }
    #post
    {
    	float:right;
    	border-width:1px 1px 1px 1px;
    }
    #pageNum
    {
    	//border-style:solid;
    	//border-color:#6C9EFD;
    	//border-width:0 1px 0 1px;
    	margin:0 52px;
    	height:52px;
    }
    #pageNum a,#pageNum span
    {
    	display:inline-block;
    	height:50px;
    	width:25px;
    	line-height:50px;
    	text-shadow:white 0 1px 1px;
    }
    #pageNum a
    {
    	color:#274E9C;
    }
    #pageNum span
    {
    	color:#000;
    	font-weight:bold;
    }
    #relativewords
    {
    	padding:10px;
    	color:black;
    }
    #relativewords .relativeword
    {
    	display:inline-block;
    	width:140px;
    	margin-top:12px;
    	text-overflow:ellipsis;
    	white-space:nowrap;
    	overflow:hidden;
    }
    #relativewords .relativeword a
    {
    	text-decoration:none;
    }
    #topBar
    {
    	z-index:50;
    	width:100%;
    	position:absolute;
    	color:#e0e0e2;
    	text-shadow:#000 0 1px 1px;
    	opacity:.8;
    }
    #topBar a
    {
    	color:#e0e0e2;
    }
    .portrait #topBar
    {
    	height:44px;
    }
    .landscape #topBar
    {
    	height:33px;
    }
    .portrait #img *,.landscape #img *
    {
    	vertical-align:middle;
    }
    #img li
    {
    	position:absolute;
    }
    .portrait #img li
    {
    	line-height:416px;
    }
    #navNext
    {
        float:right;
    	text-align:center;
    	position:absolute;
    	top:0;
    	width:60px;
    	height:46px;
    	line-height:46px;
    	border-top:1px solid #474747;
    	z-index:50;
    }
    #navPre
    {
        float:left;
    	left:0;
    	background:rgba(86,86,86,0.8) url("") no-repeat center;
    	border-right:1px solid black;
    	border-left:1px solid #474747;
    }
    #navNext
    {
    	right:0;
    	background:rgba(86,86,86,0.8) url("") no-repeat center;
    	border-left:1px solid black;
    	border-right:1px solid #474747;
    }
    .button
    {
    	display: block;
     	line-height: 36px;
     	width: 100px;
     	font-size: 20px;
    	font-weight: bold;
    	font-family: Helvetica, sans-serif;
    	color: #fff;
    	text-decoration: none;
    	text-align: center;
    }
    .white
    {
    	margin: 3px auto;
    	border-width: 0px 10px 0px 10px;
    	color: #000;
    	text-shadow: #fff 0px 1px 1px;
    }
    
P 
{
	PADDING-BOTTOM: 5px; 
	LINE-HEIGHT: 1.5; 
	MARGIN: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-RIGHT: 0px; 
	FONT-SIZE: 0.8em; 
	PADDING-TOP: 5px;
}
FORM 
{
	MARGIN: 0px
}
#search_box 
{
	WIDTH: 100%; 
	BACKGROUND: #cce3ff; 
	FLOAT: inherit; 
	HEIGHT: 34px
}
#search_box #searchInput 
{
	PADDING-TOP: 0px;
	MARGIN: 1px 0px 1px 5px;
	
	PADDING-BOTTOM: 0px;
	
	PADDING-LEFT: 0px;
	WIDTH: 250px;
	height:30px;
	PADDING-RIGHT: 0px;
	FLOAT: left;
	FONT-SIZE: 0.8em;
	
	BORDER-BOTTOM: #aaa 1px solid;
	BORDER-LEFT: #aaa 1px solid; 
	BORDER-TOP: #aaa 1px solid;
	BORDER-RIGHT: #aaa 1px solid;
	
	font: 18px arial;
	border: 1px solid #CDCDCD #9A9A9A;
	vertical-align:top;
}
#search_box #go
{
	MARGIN: 5px 10px 5px 45px; 
	FLOAT: right;
}
#search_box #jpg 
{
	POSITION: absolute; 
	MARGIN: 5px 0px 5px 2px; 
	WIDTH: 40px; 
	DISPLAY: inline; 
	FLOAT: left;
}
.prevHref
{
  height:40px;
  line-height:40px;
  width:40px;
}
a:link {
	text-decoration: none; 
}
a:visited {
	text-decoration: none;
}
a:hover, a:active, a:focus { 
	text-decoration: none;
}
#searchct{  float:right; width:100%; BACKGROUND: #cce3ff; HEIGHT: 34px}

#searchSuggest
{
 margin-top:1px; 
 width:99%; 
 margin-right:5px; 
 padding:0 0 0 5px; 
 color:#AAA9A9; 
 height:30px; 
 line-height:30px; 
 border:#D2DCE3 1px solid; 
 vertical-align:middle;
 font: 18px arial;
}

#searchct button{ border:none; height:24px; line-height:24px;cursor:pointer; color:#005E8F; }

#searchbtn{ width:35px; background-position: 0 -2116px; display:inline-block;vertical-align:bottom;line-height:30px;text-align:left;}

#adbtn{ background-position: 0 0; margin-top:4px;width:27px; height:24px;line-height:24px; color:#005E8F; text-align:center; display:block; }